

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8f4fa;
  color: #222;
  padding: 0px;
}

ar {position: absolute;
background-color: black;
width: 100%;
}

.menu {background: rgba(255, 255, 255, 0.20);
backdrop-filter: all;
  padding: 10px;
  position: absolute;
  color: white;
}

.elementmenu {background-color: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(1px);
position: absolute;
top: 40px;
transition: all 1s ease;
  display: none;
}

li {padding: 5px;}

.monlogo {
  height: 300px;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: solid 2px gray;
  padding-top: 2px;
}

.essentiel {
  color: blue;
  text-align: center;
  text-decoration: underline;
}

.card {
  background: #f8f2;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#marques {
  display: none;
  background: green;
}
.marques {padding: 5px;background: lightblue;;
}

.image-marque-camera {
  height: 100px;
width: 200px;
  border: solid 5px red;
  border-radius: 5px;
}

.preuve {
  height: 100px;
width: 48%;
border: solid 5px yellow;
border-radius: 10px;
}

strong {
  color: red;
background: black;
padding: 2px;
margin: 5px;
border-radius: 10px;
}




/*les entre guemer */
 #remonter {
  display: none; /* Caché par défaut */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
}

.number-float {
  position: fixed;
  bottom: 65px;
  left: 20px;
  z-index: 100;
}
.number-float img {width: 40px;
height: 40px;color: black;}

.assistant {
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 100;
}

.texte-defilant {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.texte-defilant p {
  display: inline-block;
  padding-left: 100%;
  animation: defilement 10s linear infinite;
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
}

@keyframes defilement {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.etoiles {
  display: flex;
  direction: row;
}

.etoile {
  font-size: 24px;
  color: #ccc; /* couleur des étoiles non sélectionnées */
  cursor: pointer;
}

.etoile::before {
  content: "\2605"; /* caractère Unicode pour une étoile */
}

.etoile.remplie {
  color: #ffd700; /* couleur des étoiles sélectionnées */
}




.commentaire {margin: 20px;}

avis {
display: block;
outline-width: 1px;
  font-style: Arial;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial Sans-Serif;
}

.footer {
  font-size: 14px;
  margin-top: 40px;
  padding: 20px;
  background: #eaeaea;
}

.le-bas {
  padding: 30px;
  background-color: black;
  color: white;
}

.text {rows: 5px;
cols: 20px}